@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  height: 200%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Open-Sans", Helvetica, sans-serif;
  background-color: #181817;
}

#main-components {
  width: 100dvw;
  transition: 1s;
  position: fixed;
}

/* NAVIGATION */
#logo {
  font-size: 21px;
  font-weight: 600;
  color: #34373b;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
  margin: 50px 200px 0 200px;
  padding: 15px 50px;
  border-radius: 40px;
}

nav button {
  font-weight: 600;
  padding: 10px 20px;
  color: #F0F0F0;
  background-color: #181818;
  border: none;
  border-radius: 40px;
}

nav button:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #1c83d8;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

#header-description {
  font-size: 2.3em;
  text-align: center;
  color: #F0F0F0;
  height: 10%;
  opacity: 0;
  margin: 150px 0 -300px 0;
}

#second-description-color {
  color: #00b3ff;
}

/* CARDS */

#cards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 200px;
}

.card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
  width: 19.5rem;
  background-color: #131313;
  border: 1px solid #595959;
  border-radius: 40px;
}

.card-content {
  height: 96%;
  width: 93%;
  border: 1px solid #595959;
  border-radius: 40px;
}

#card-left, #card-right {
  filter: blur(0.28rem);
  opacity: 0.7;
  padding-top: 165px;
  padding-bottom: 50px;
}

#card-middle {
  position: absolute;
  padding-top: 70px;
  z-index: 1;
}

#card-left .card-content {
  background: #0d0d0d url(../assets/insight-app.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#card-right .card-content {
  background: #0d0d0d url(../assets/home-app.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#card-middle .card-content {
  background: #0d0d0d url(../assets/onboarding-app.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top 5px center;
}

#info-circle {
  padding: 10px 250px;
}

#info-circle video {
  width: 100%;
  border-radius: 20px;
}

#info-circle div {
  font-size: 1.8em;
  height: 700px;
  color: #efefef;
  text-shadow: #000 1px 1px 30px;
  border-radius: 80px;
}

#info-circle div p {
  padding-bottom: 50px;
}

@media (min-width: 1200px) {
  #info-circle {
    padding: 10px 150px;
  }

  #info-circle div {
    padding: 40px 50px;
  }
}

@media (max-width: 1200px) {
  #info-circle {
    padding: 10px 10px;
    text-align: center;
  }

  #info-circle div {
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
 }

 body {
  margin: 0;
 }

 #header-description.slide-up {
  font-size: 1.7em;
  text-align: center;
  color: #F0F0F0;
  height: 10%;
  opacity: 0;
  padding: 0px 0 70px 0;
}

 nav {
  margin: 10px 20px;
 }
}

@media (max-width: 400px) {
  #header-description.slide-up {
    padding: 70px 0;
  }
}

/* EFFECTS */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #F0F0F0;
}

.circle {
  background: #181817;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hide {
  display: none;
}

/* ANIMATIONS */
.zoom-in {
  transition: 3s;
  transform: scale(100);
}

.fade-in {
  opacity: 1;
  transition: all 0.6s;
}

.transparent {
  opacity: 0;
}

#header-description.slide-up {
  transition: 0.8s;
  opacity: 1;
  margin: 150px 0 -150px 0;
}

.switchCard {
  transition: 1s;
}