@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Open-Sans", Helvetica, sans-serif;
}

#cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100dvh;
}

#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.5rem;
  width: 21rem;
  border: 1px solid lightgray;
  border-radius: 40px;
}

.card-content {
  height: 97%;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 40px;
}

#card-left, #card-right {
  margin-top: 200px;
}

#card-middle {
  position: fixed;
  z-index: 10;
}