@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Open-Sans", Helvetica, sans-serif;
  background-color: #181817;
}

/* NAVIGATION */
#logo {
  font-size: 21px;
  font-weight: 600;
  color: #34373b;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F0F0;
  margin: 50px 120px 0 120px;
  padding: 15px 50px;
  border-radius: 40px;
}

nav button {
  font-weight: 600;
  padding: 10px 20px;
  color: #34373b;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 40px;
}

nav button:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #F0F0F0;
  background-color: #3F88C5;
  border-color: #FFF;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

#header-description {
  font-size: 2em;
  color: #F0F0F0;
  height: 10%;
}

#second-description-color {
  color: #3785ec;
}

/* CARDS */
#cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.card-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.5rem;
  width: 21rem;
  background-color: #F0F0F0;
  border: 1px solid lightgray;
  border-radius: 40px;
}

.card-content {
  height: 97%;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 40px;
}

#card-left, #card-right {
  margin-top: 200px;
}

#card-middle {
  position: fixed;
  z-index: 10;
}